* {
    margin: 0;
    padding: 0;
}

/* tamaño body total */
body {
    width: 100%;
}

/* id para centrar */
.centrarPagina {
    text-align: center; 
}

/* subtitulos seccion receta centrados */ 
.color_subtitulosrecetas {
    text-align: center;
}
/* estructura del header */
header {
    margin-bottom: 2%;
}

div .fondoFoto {
    background: url(../imagenespilares/fondoH.jpg);
    width: 100%;
    background-size: cover;
    min-height: 100vh;
}

div .tituloPrincipal h1 {
    padding-top: 20%;
}

/*nav fijado */ 
.header nav {
    position: fixed;
    z-index: 1000;
    padding-left: 2%;
    padding-right: 2%;
}

/*margenes*/ 
.info {
    margin-left: 5%;
}

.premezcla {
    margin-right: 5%;
}
/* header secciones postres */
.fondoPostre {
    background: url(../imagenespilares/postres.jpg);
    width: 100%;
    background-size: cover;
    min-height: 100vh;
    margin-bottom: 5%;
}

/*header seccion para el te */ 
.fondoParate {
    background: url(../imagenespilares/paraelte2.jpg);
    width: 100%;
    background-size: cover;
    min-height: 100vh;
    margin-bottom: 5%;
}

/*header seccion de salados */ 
.fondoSalados {
    background: url(../imagenespilares/salados2.jpg);
    width: 100%;
    background-size: cover;
    min-height: 100vh;
    margin-bottom: 5%;
}

/* header seccion regalos */ 
.fondoRegalos {
    background: url(../imagenespilares/regalos2.jpg);
    width: 100%;
    background-size: cover;
    min-height: 100vh;
    margin-bottom: 5%;
}


div .tituloPrincipalregalos {
    padding-top: 18%;
    text-align: center;
}

/*header seccion recetas*/ 
.fondoRecetas {
    background: url(../imagenespilares/recetas.jpg);
    width: 100%;
    background-size: cover;
    min-height: 85vh;
}

div .tituloPrincipalrecetas h1 {
    padding-top: 18%;
    
}

/*header preguntas frecuentes */ 
.fondoPreguntas {
    background: url(../imagenespilares/preguntas.jpg);
    width: 100%;
    background-size: cover;
    min-height: 85vh;
}

div .tituloPrincipalpreguntas h1 {
    padding-top: 15%;
}

/*header quienes somos*/ 
.fondoQuienes {
    background: url(../imagenespilares/quienes.jpg);
    width: 100%;
    background-size: cover;
    min-height: 80vh;
}


/* subtitulos centrados */
.color_subtitulos {
    text-align: center;
}
    
/* contenedor de columnas banner y fotos */
.contenedorColumnas {
    width: 100%;
    margin:auto;
    text-align: center;
}

/* columnas del banner */
.bannerinf_columnas {
    width: 33.333%;
    float: left;
}

.palabras-banner {
    padding-top: 10%;
}
/*columnas de las fotos de comidas */ 
.columnas_fotos {
    width: 25%;
    float: left;
    
   
}

/* configuracion del aside */ 
.columnas_fotos h2 {
    padding-top: 5%;
}
aside a img {
    width: 60%;
}
aside a video {
    width: 50%;
}

/* fotos me queden en linea */
aside {
    display: inline-block;
}

/*tamaño fotos titi */ 
.quienesFlex img {
    width: 50%;
}
/* estilo del footer */
.footer {
    .social-icons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color: black;
        text-align: center;
        text-decoration: none;
        list-style: none;
        margin-left: 10%;
    }
    .logo {
        vertical-align: middle;
        border-style: none;
    }
}

/*estilo de encargues seccion principal */ 
.encargues p {
    text-align: center;
}
/*estilo del formulario */ 
.form {
    padding-top: 50px;
    
}
.form-group {
    width: 75%;
    justify-content: center;
    padding-left: 27%;
}

.form-group .derecha {
    display: flex;
    justify-content: flex-end;
}
/* estructura footer */
.footer {
    text-align: center;
}
.footer {
    .contenedorFooter {
        width: 100%;
        padding: 30px;
            .social-icons {
                li {
                    margin-bottom: 2%;
                    text-decoration: none;
                    font-family: Kanit;
                    font-weight: bolder;
                    align-items: center;
                    font-size: 40px;
                    margin-right: 15%;
                    margin-top: 2%;
                }
            }
            
    }
}

.social-icons {
    display: flex;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    list-style: none;
}
/* estilos flexbox */ 
.padreFlexSecciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content:space-around;
    width: 100%;

}

.hijosFlex {
    width: 25%;
    margin-top: 30px;
    flex-grow: 0;
    overflow: hidden;
    text-align: center;
}

.padreFlexSecciones .hijosFlex img {
    width: 70%;
}

.recetasFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    img {
        width: 30%;
    }
}
.recetasFlex p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
}

.color_subtitulosrecetas {
    margin-right: 30%;
}
.quienesFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.padreFlexSecciones .quienesFlex img {
    width: 20%;
}
.quienesFlex p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    font-size: 100%;
}
.padreFlexSecciones iframe {
    width: 100%;
    background-size: cover;
    min-height: 60vh;
}
.padreFlexSecciones h3 {
    padding-top: 30px;
}

.preguntasFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10%;
    img {
        width: 30%;
    }
}
.preguntasFlex p {
    margin-left: 3%;
}

/* tamaño de las fotos seccion quienes somos */
.fotosQuienes {
    text-align: center;
}
.fotosQuienes img {
    width: 20%;

}

/*estructura de las recetas en mi seccion principal */
.recetas {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:auto;
    margin-bottom: 7%;
    

    .card {
        width: 330px;
        height: 400px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba (0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        display: inline-block;
    }

    .card:hover {
        transform:translateY(-15px);
        box-shadow: 0 8px 10px rgba (0, 0, 0, 0.2);
    }
    
    .card img {
        width: 60%;
    }
    
    .card p {
        padding: 0 1rem;
    }
}

.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 58px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    justify-content: center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,30%);
    z-index:100;
    transition: all 300ms ease;
}

.btn-wsp:hover{
    background: #20ba5a;
}

#padreFlex img {
    width: 30%;
}

#padreFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content:space-around;
    width: 100%;
    font-size: 150%;
    font-family: Raleway;
}

.productosCarrito {
    width: 25%;
    margin-top: 30px;
    flex-grow: 0;
    overflow: hidden;
    text-align: center;
}

#padreFlex .productosCarrito img {
    width: 80%;
}

#postresCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content:space-around;
    width: 100%;
    font-size: 100%;
    
    
}
#postresCards p {
    text-align: center;
}
#postresCards img {
    width: 80%;
}

#paraelteCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content:space-around;
    width: 100%;
    font-size: 100%;
}

#paraelteCards p {
    text-align: center;
}

#paraelteCards img {
    width: 80%;
}
#saladosCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content:space-around;
    width: 100%;
    font-size: 100%;
}

#saladosCards p {
    text-align: center;
}

#saladosCards img {
    width: 80%;
}
.padreFlex {
    width: 25%;
    margin-top: 30px;
    flex-grow: 0;
    overflow: hidden;
    text-align: center;
}

.btn {
    width: 50%;
    padding: 8px;
    background-color: #f0efeb;
    outline: none;
    border: solid #cb997e;
    cursor: pointer; 
}

.openbtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
i.fa-shopping-cart {
    font-size: 30px;
    color: #565656;
    padding-right: 500%;
}
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color:#f0efeb;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .itemCarrito {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#eddcd2;
    text-align: center;
    width: 80%;
    margin: 20px;
    padding: 30px;
    border-radius: 8px;
}

.itemCarrito img {
    width: 100%;
}

.sidenav .cruz-carrito i {
    font-size: 300%;
    padding-left: 45%;
    color: #565656;
}